* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #1C162C;
}

body {
    display: flex;
    flex-flow: row wrap;
    background: #1E1E1E;
    width: 100%;
    /* height: 100vh; */
}

header {
    width: 100%;
    border: 1px solid red;
    margin: 79px auto 64px 77px;
    padding-bottom: 32px;
}

/* titulo principal */
.type-button {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: white;
    margin-bottom: 8px;
}

/* Paragrafo principal */
.descricao {
    font-family: Roboto;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    opacity: 0.7;
}

/* Botoes */

section {
    width: 100%;
    border: 1px solid green;
    margin-left: 77px;
    margin-bottom: 110px;
}


/* titulo da tabela */
th {
    padding: 24px 16px;
    /* border: 1px solid green; */
    height: 74px;
    background: var(--bg-color);
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

td{
    height: 75px;
    width: 200px;
    text-align: center;
}

#tbl-titulo {
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    padding: 17px;
    background-color: var(--bg-color);
    color: white;
}

/* Trabalhando com os botoes */
button {
    font-family: 'Inter';
    height: 50px;
    width: 180px;
    border-radius: 24px;
    padding: 12px 24px 12px 24px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    border: none;
    color: white;

}
/* Botoes DEFAULT */
/* botao primario  */
.botao-primario {
    background-color: #8257E5;
}

.botao-secundario {
    background-color: #3C3748;
}

.botao-terciario {
    background: none;
}